.wrapper
  = render 'layouts/left-side'
                             
  .chat-main
    .main-header
      .left-header
        .left-header_title
          tech-expert
        %ul.left-header_members
          member
          %li.member
            hakase1983
      .right-header
        %a.right-header__button
          edit
    .messages
      .message
        .upper-info
          %p.upper-info_user
          %p.upper-info_date
        %p.message__text
          %p.upper-info__user
    .form
      %form.new-message
        .input_box
          %input.input_box__text
          %label.image-label
            %i.fa.fa-picture-o
          %input.new-message__submit-btn{:type => "submit", :value => "Send"}
          

        
            




      


